/*
1. Percentage Bar
├── 1.0 General styles
├── 1.1 Percentage width generator
└── 1.2 Percentage width animation generator
*/

/*----------------------------------------------------------------------------
  1. Percentage Bar
----------------------------------------------------------------------------*/

/* ! 1.0 - General styles */

// percentage bar
.percentage_bar {
  position: relative;
  height: 4px;
  margin-top: 1.1rem;
  background: #eaeaea;
  border-radius: 10px;

  // percentage metric
  // note: A height should be defined within its specific component
  .percentage_metric {
    position: absolute;
    top: 0;
    left: 0;
    background: $blue;
    border-radius: 10px 0 0 10px;

    @include category-colors;

    &.percentage_bar_100,
    &.percentage_bar_animation_100 {
      border-radius: 10px;
    }
  }

}

/* ! 1.1 - Percentage width generator */

@for $i from 0 through 100 {
  .percentage_bar_#{$i} {
    width: 0% + $i;
  }
}

/* ! 1.2 - Percentage width animation generator */

@for $i from 0 through 100 {
  .percentage_bar_animation_#{$i} {
    @include animation(anim_width_#{$i} 1s);
    @include animation-fill-mode(forwards);
    @include animation-delay(1s);
  }
  @keyframes anim_width_#{$i} {
    from { width: 0%; }
    to   { width: 0% + $i }
  }
}
